<%- include("partials/header") -%>

<main class="spotFeed bobaFett">
    <div class="container">
        <div class="row">
            <div class="col-12 flex-container-between">
                <% showSpots.forEach(e => { %>
                <div class="container-feed">
                    <img src="/img/mountain.jpg" alt="montagne">
                    <div>
                        <h3><%= e.name %></h3>
                        <span>Description :</span>
                        <p><%= e.description %></p>
                        <span>Difficulté :</span>
                        <p><%= e.difficulty %></p>
                        <span>Adresse :</span>
                        <p><%= e.address %></p>
                        <br>
                        <span>PLUS DE DETAILS :</span>
                        <a href="/spotdetail/<%=e._id%>">OkylyDolyly</a>
                    </div>
                </div>

                <% }) %>

            </div>

            <!--FAIRE UNE NOUVELLE BOUCLE ICI POUR LA PAGINATION-->
           <nav aria-label="paginationAllSpot">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
            <!--------------------------------------------------->

        </div>
    </div>

</main>

<%- include("partials/footer") -%>