<%- include("partials/header") -%>

<main class="mando">

    <div class="col-12 flex-container-titre-form">
        <h1 class="titre-signup-signin">Edit ton spot</h1>
    </div>


<form action="/allspot<%= data._id %>?_method=put" class="box-signup-signin height-signup"  method="post">

                <input type="text" id="name" name="name" value="<%= data.name %>">
                <textarea type="text" id="description" name="description" value="<%= data.description %>"></textarea>
                <input type="text" id="address" name="address" value="<%= data.address %>">
                <select name="difficulty" id="difficulty" value="<%= data.difficulty %>">
                    <option value="Votre niveau"></option>
                        <option value="facile">Facile</option>
                        <option value="intermédiaire">Intermédiaire</option>
                        <option value="difficile">Difficile</option>
                </select>

                <input type="text" id="coordinates" name="coordinates" value="<%= data.coordinates %>">

            <button type="submit" class="btn btn-info btn-block mt-3">Change ton spot</button>            
        </form>
</main>

<%- include("partials/footer") -%>